<center>

<table>
    <br>
    <br>

    <tr>
       <th>Inputs</th>
   </tr>

    {% for i in listofvinaddresses %}
        <tr>
            <td> {{i}} </td>
        </tr>
    {% endfor %}
</table>

<table>
   <tr>
       <th>Outputs</th>
   </tr>

    {% for i in listofvoutaddresses %}
        <tr>
            <td> {{i}} </td>
        </tr>
    {% endfor %}

</table>

<table>
    <caption>Values List</caption>
    <br>

   <tr>
       <th>Values output</th>
   </tr>

    {% for i in listofvaluesout %}
        <tr>
            <td> <a> {{i}}</a></td>
        </tr>
       {% endfor %}

</table>

</center>
